@import "GlobalVars.css";

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  top: var(--header-height);
  display: flex;
  width: 100%;
  height: 100%;
}

.feed {
  flex: 1;
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  width: 50%;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
}

.videos {
  margin-top: var(--header-height);
  top: var(--header-height);
  width: calc(100% - 3em);
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
  padding: 1.5em;
}

.video {
  background-color: grey;
}

.video-thumbnail {
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.video-description {
  border-top: 1px solid black;
  padding: 1em;
}
