@import "GlobalVars.css";

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  top: var(--header-height);
  display: flex;
}

.feed {
  flex: 1;
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  width: 50%;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
}
