@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

:root {
  --header-height: 3.5em;
  --primary-colour: white;
  --secondary-colour: lightgrey;
  --background-colour: whitesmoke;
  --text-colour: black;
  --accent-colour: red;
  --signin-colour: #065fd4;
}
