.header {
  position: fixed;
  padding-inline: 1em;
  top: 0;
  left: 0;
  width: calc(100% - 2em);
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: var(--primary-colour);
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.header-menu {
  margin-left: 0.5em;
  margin-right: 1.4em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-menuIcon {
  height: 1.15em !important;
  width: 1.15em !important;
  color: var(--text-colour);
}

.header-logo {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-logo > p {
  color: var(--text-colour);
}

.header-icon {
  object-fit: contain;
  height: 35px !important;
  width: 35px !important;
  color: var(--accent-colour);
}

.header-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  transform: scaleY(1.5);
}

.locale {
  font-size: 0.75em;
  font-weight: 300;
  position: relative;
  top: -1em;
  left: 4px;
}

.header-search {
  display: flex;
  align-items: center;
  width: min(42.5em, 100%);
  margin-left: 3em;
  margin-right: 0.5em;
  min-width: 11em;
}

.header-search > input {
  flex: 1;
  z-index: 1;
  outline: none;
  padding: 0.75em;
  border: 1px solid var(--secondary-colour);
  background: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 0.9em;
  font-size: 1em;
  letter-spacing: 0.5px;
  min-width: 0;
}

.header-search > input:focus-within {
  border: 1px solid var(--signin-colour);
}

.header-search-submit {
  width: 4.75em;
  height: 3em;
  color: var(--text-colour);
  background-color: var(--background-colour);
  border: 1px solid var(--secondary-colour);
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.header-search-submit:hover {
  background-color: #f0f0f0;
}

.header-search-voice {
  border-radius: 10em;
  height: 3em;
  min-width: 3em;
  padding: 0.25em;
  border: none;
  margin-left: 0.5em;
  color: var(--text-colour);
  background-color: var(--background-colour);
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > * {
  margin-left: 1.5em;
}

.header-right > *:last-child {
  margin-left: 1em;
}

.signIn {
  display: flex;
  padding: 0.55em 0.8em;
  align-items: center;
  background: none;
  outline: none;
  border: 1px solid var(--signin-colour);
  border-radius: 2px;
  cursor: pointer;
  width: 8em;
}

.signIn > * {
  color: var(--signin-colour);
}

.signIn > p {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;
}

.signIn-icon {
  margin-right: 0.35em;
}

@media screen and (max-width: 650px) {
  .header-search > input {
    display: none;
  }

  .header-search-voice {
    background: none;
    min-width: 3em;
    max-width: 3em;
    padding-right: 0;
  }

  .header-search-submit {
    background: none;
    border: none;
    justify-content: flex-end;
    min-width: 3em;
    max-width: 3em;
  }

  .header-search-submit:hover {
    background: none;
  }

  .header-search {
    justify-content: flex-end;
    margin-right: 0;
    min-width: 0;
  }
}
