.menu-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-colour);
}

.avatar {
  width: 1.6em !important;
  height: 1.6em !important;
  margin-left: 0.35em;
  margin-right: 0.5em;
}
