.sidebar {
  min-width: 15em;
  height: calc(100% - var(--header-height));
  overflow-y: auto;
  background-color: var(--primary-colour);
  scrollbar-width: thin;
  scrollbar-color: var(--primary-colour) var(--primary-colour);
  padding-block: 0.75em;
}

.sidebar:hover {
  scrollbar-color: var(--text-colour) var(--primary-color);
}

.sidebar-element {
  margin-block: 0.5em;
  margin-right: 0;
  padding: 1em;
  background-color: var(--secondary-colour);
}

.separator {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}
