.sidebarElement {
  display: flex;
  align-items: center;
  height: 3em;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.sidebarElement:hover,
.sidebarElement:focus {
  background-color: var(--background-colour);
}

.collapse.sidebarElement {
  flex-direction: column;
  justify-content: center;
  height: 5.5em;
}

.sidebarElement.active {
  background-color: #e0e0e0;
}

.sidebarElement.active:hover,
.sidebarElement.active:focus {
  background-color: var(--secondary-colour);
}

.icon {
  margin-inline: 1em;
}

.sidebarElement > p {
  text-align: left;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapse.sidebarElement > p {
  text-align: center;
  font-size: 10px;
  margin-top: 0.5em;
}

.sidebarElement.active > p {
  font-weight: 600;
}

.red {
  color: red;
}

.rounded {
  border-radius: 10em;
  background-color: #404040;
  color: white;
}

.rounded.icon {
  object-fit: contain;
  width: 16px !important;
  height: 16px !important;
  padding: 0.15em;
}

.rounded.red {
  color: white;
  background-color: red;
}

.sidebarElement-avatar {
  margin-inline: 1.15em;
  object-fit: contain;
  width: 25px !important;
  height: 25px !important;
}

.liveIcon {
  color: red;
  object-fit: contain;
  width: 16px !important;
  height: 16px !important;
  margin-right: 0.7em;
  margin-left: 0.15em;
}

.notificationIcon {
  color: #065fd4;
  object-fit: contain;
  width: 6px !important;
  height: 6px !important;
  margin-right: 0.9em;
  margin-left: 0.25em;
}
