.topicsBar {
  position: fixed;
  top: var(--header-height);
  left: var(--sidebar-width);
  border-top: 1px solid var(--secondary-colour);
  border-bottom: 1px solid var(--secondary-colour);
  height: 3.5em;
  width: calc(100% - var(--sidebar-width) - 2.5em);
  display: flex;
  align-items: center;
  padding-inline: 1.2em;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  background-color: var(--primary-colour);
  z-index: 100;
}

.topicsBar::-webkit-scrollbar {
  display: none;
}

.topic {
  padding: 0.45em 0.9em;
  margin-inline: 0.4em;
  border-radius: 5em;
  border: 1px solid var(--secondary-colour);
  outline: none;
  cursor: pointer;
  color: var(--text-colour);
  background-color: var(--background-colour);
  font-size: 14px;
  letter-spacing: 0.5px;
  white-space: nowrap;

  transition: background 0.25s ease;
}

.topic:hover,
.topic:focus {
  background-color: #e5e5e5;
  transition: background 0.25s ease;
}

.topic.active {
  background-color: var(--text-colour);
  color: var(--primary-colour);
  border: 1px solid var(--text-colour);
}
