.video {
  background: none;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5em;
  /* display: flex;
  flex-direction: column; */
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.video-thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
  background-color: black;
  margin-bottom: 0.5em;
}

.video-length {
  align-self: flex-end;
  float: right;
  position: relative;
  top: -2.5em;
  left: -0.35em;
  background-color: black;
  color: white;
  opacity: 0.8;
  width: fit-content;
  height: fit-content;
  padding: 0.085em 0.35em 0.15em 0.35em;
  border-radius: 2px;
  font-size: 12px;
  margin-bottom: -1em;
}

.video-details {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.channel-avatar {
  width: 1.8em !important;
  height: 1.8em !important;
  margin-right: 0.5em;
}

.video-details-text {
  width: 100%;
  overflow: hidden;
}

.video-title {
  line-height: 1.45em;
  max-height: 2.9em;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel-name {
  max-width: 100%;
  display: flex;
  overflow: hidden;

  margin-bottom: 0.25em;
}

.channel-name > button {
  text-align: left;
  color: #606060;
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: clip;
}

.channel-name > button:hover {
  color: black;
}

.verified {
  color: #606060;
  width: 14px !important;
  height: 14px !important;
  margin-left: 0.15em;
}

.video-stats {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  color: #606060;
  white-space: nowrap;
  overflow: hidden;
}

.stats-separator {
  width: 4px !important;
  height: 4px !important;
  padding-top: 2px;
  margin-inline: 0.15em;
}

.video-views {
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-age {
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-menu {
  width: 3em;
}

.video-menu > * {
  display: none;
}

.video:hover .video-menu > * {
  display: inline;
}
